* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    padding: 1rem;
}

body {
    line-height: 1.5;
    min-height: 100vh;
    font-size: 1.2rem;
}

main {
    display: flex;
    gap: 1rem;
}

nav ul {
    list-style: none;
}

nav ul li {
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.3125rem;
}

nav ul li:hover {
    background-color: #e0e0e0;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.8rem;
    color: #4a3731;
}

.hero {
    transform: translateY(15%);
    max-width: 100%;
    padding: 3.125rem;
    text-align: left;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.5rem;
}

.menu-container {
    position: relative;
    display: inline-block;
    margin-top: 1.5rem;
}

.menu-btn {
    text-align: center;
    display: inline-block;
    width: 20vh;
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    color: #fff;
    background-color: #4a3731;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0.625rem;
}

.dropdown {
    text-align: center;
    display: none;
    position: absolute;
    transform: translateX(-50%);
    transform: translateY(-1%);
    min-width: 100%;
    background-color: #4a3731;
    z-index: 1;
    box-shadow: 0 0.375em 0.625em rgba(0, 0, 0, 0.1);
    border-radius: 0 0 0.625rem 0.625rem;
    cursor: pointer;
}

.dropdown li {
    width: 20vh;
    padding: 0;
    list-style: none;
}

.dropdown li a {
    display: block;
    padding: 0.75rem 1rem;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
}

.menu-container:hover .dropdown {
    display: block;
}

.menu-container:hover .menu-btn {
    border-radius: 0.625rem 0.625rem 0 0;
}

.menu-btn:hover {
    background-color: #5e4a42;
}

.dropdown li:hover {
    background-color: #5e4a42;
    border-radius: 0 0 0.625rem 0.625rem;
}