* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.order-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  margin-right: 2rem;
}

#orderSidebar {
  font-size: 1rem;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  width: 18.75rem;
}

#orderHeading div {
  text-align: center;
  margin-top: 2rem;
}

#orderHeading div p {
  font-size: 1.2rem;
  color: #4a3731;
  margin-bottom: 1rem;
}

#orderHeading div button {
  background-color: #4a3731;
  color: #fff;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 0.625rem;
  font-size: 1.2rem;
  cursor: pointer;
  margin-bottom: 1rem;
  width: auto;
}

#orderHeading div button:hover {
  background-color: #5e4a42;
}

button {
  background-color: #4a3731;
  color: #fff;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 0.625rem;
  font-size: 1.2rem;
  cursor: pointer;
  margin-bottom: 1rem;
  width: 100%;
}

button:hover {
  background-color: #5e4a42;
}

input[type="text"] {
  margin-bottom: 1rem;
  padding: 0.75rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  font-size: 1rem;
}

#payButton {
  background-color: green;
}

.orderPageItem {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.orderItemEntry {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.orderItemImage {
  width: 10em;
  height: 10em;
  object-fit: cover;
  border-radius: 0.625rem;
  margin-right: 1rem;
}

.orderItemDetails {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.orderPageItemDataN {
  transform: translateY(-1.75rem);
  text-align: left;
  display: block;
  margin-bottom: 0.5rem;
}

.orderPageItemDataC {
  transform: translateY(-1.75rem);
  text-align: left;
  color: #555555;
  font-size: 0.9rem;
  display: block;
  margin-bottom: 0.5rem;
}

.orderPageItemDataP {
  transform: translateY(-1.75rem);
  text-align: left;
  font-size: 1.25rem;
  display: block;
  margin-bottom: 0.5rem;
}

.orderPageItemDataQ {
  transform: translate(30rem, -8.25rem);
  gap: 5%;
  text-align: middle;
  width: 20%;
  font-size: 1.5rem;
  display: flex;
  margin-bottom: 0.5rem;
}

.removeButton {
  border: none;
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 1rem;
}