* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Verdana, sans-serif;
  background-color: #f0e8e0;
}

header {
  background-color: #4a3731;
  color: #ffffff;
  padding: 1rem;
  box-shadow: 0 0.125em 0.375em rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.logo a {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

.logo a:hover {
  color: #eeeeee;
}

.menu-icon {
  font-size: 1.5em;
  cursor: pointer;
  position: relative;
}

.menu-icon:hover .floating-window {
  display: block;
}

.floating-window {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  padding: 1.25rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  z-index: 1;
  font-size: 1rem;
  text-decoration: none;
  color: #4a3731;
}

.floating-window a {
  font-size: 1.25rem;
  display: block;
  text-decoration: none;
  color: #4a3731;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.floating-window a:hover {
  background-color: #eeeeee;
}

.floating-window a:hover {
  color: #5e4a42;
  background-color: #eee;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.order-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  margin-right: 2rem;
}

#orderSidebar {
  font-size: 1rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  width: 18.75rem;
}

button {
  background-color: #4a3731;
  color: #fff;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 0.625rem;
  font-size: 1.2rem;
  cursor: pointer;
  margin-bottom: 1rem;
  width: 100%;
}

button:hover {
  background-color: #5e4a42;
}

input[type="text"] {
  margin-bottom: 1rem;
  padding: 0.75rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  font-size: 1rem;
}

#payButton {
  background-color: green;
}