body {
  background-color: white;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-box {
  padding: 15px;
  width: 45%;
  height: 45%;
  margin: 20px;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 40px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.button-box span {
  position: relative;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.button-box img {
  width: 95%;     
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  opacity: 0.5;
}

.kitchen-button img {
  width: 45%;
}

.button-box:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}